
<div class="mod">
  <div class="modal fb-modal-submit">
    <div class="fb-content">
      <div class="fb-header">
        <h5>Do you want to save this form?</h5>
      </div>
      <div class="modal-body fb-modal-share-body ">
        <div class="fb-content">
          <p>You have to save the form first in order to be able to share it.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
          (click)="closeModal()">No</button>
        <button type="button" class="btn btn-primary" (click)="saveAndShare()">Yes</button>
      </div>
    </div>
  </div>
</div>
