.modal {
 display: block;
 position: relative;
}

.radio:checked + span:before {
  content: "\f192";
}
.radio:checked + span:before, .checkbox:checked + span:before {
  color:#62ca96;
}
.radio + span:before {
  content: "\f111";
}
.radio + span:before, .checkbox + span:before {
  font-family: FontAwesome;
  font-size: 21px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 10px;
  color: #c8d0da;
}

.checkbox:checked + span:before {
  content: "\f14a";
}
.checkbox + span:before {
  content: "\f0c8";
}

// SHARED CARDS VIEW
.card {
  padding: 0;
  .card-header {
    text-align: center;
  }
  .card-body {
    .card-content {
      justify-content: center;
      .card-shared {
        padding: 0 5px;
        text-align: center;
      }
      .card-submitted {
        padding: 0 5px;
        text-align: center;
      }
    }
    .card-button-group {
      display: flex;
      justify-content: center;
      .btn {
        width: 90px;
      }
    }
  }
}