<div class="fb-nav">
  <nav class="navbar fb-navbar">
    <p routerLinkActive="router-link-active" class="fb-dashboard-logo text-primary" [routerLink]="['/dashboard']" [style.display]="!toggle ? 'inline-block' : 'none'">F<strong>B</strong></p>
    <p routerLinkActive="router-link-active" class="fb-dashboard-logo text-primary" [routerLink]="['/dashboard']" [style.display]="toggle ? 'inline-block' : 'none'">Form<strong>Builder</strong></p>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active fb-nav-menu">
            <i class="fas fa-bars text-primary ml-2 fb-navs-icon-size" (click)="newState()"></i>
        </li>
        <li class="nav-item dropdown fb-role">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{role}}
          </a>
          <div class="dropdown-menu fb-dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item fb-dropdown-item" (click)="logout()">Log Out</a>
          </div>
        </li>
      </ul>
  </nav>
</div>

