// SHARED AND DRAFT NAVIGATE BUTTON
.#{$prefix} {
    &-btn-draft {
        width: 90px;
        margin-right: 6px;

        @include breakpoint(xs) {
            width: 120px;
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    &-def-size {
        height: 160px;
    }

    &-no-shared-forms {
        margin: 0 auto;
        margin-top: 100px;
        font-size: 70px;
    }

}
