.#{$prefix} {
    &-page {
        margin-left: 65px;
        padding-top: 105px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        transition: $transition-style $transition-speed;

        @include breakpoint(sm) {
            margin-left: 10px;
        }


        @include breakpoint(xs) {
            margin-left: -9px;
            margin-right: 0px;
        }

        @include breakpoint(xs) {
          padding: 0px;
          padding-top: 65px;
          margin-left: 5px;
          margin-right: 5px;
        }

        &-toggle {
            margin-left: 200px;
            @include breakpoint(sm) {
                margin: 0;
                padding-top: 200px;
            }
        }
    }
}
