.#{$prefix}-wrapper {
    margin: auto;
    width: 90%;
}

.#{$prefix}-content {
    text-align: center;
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.#{$prefix}-btn-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.#{$prefix}-modal-share {
    display: block;
    position: relative;
}