.side-bar-right {
    background-color: #eee;
    height: 100%;
    width: 20%;
    position: fixed;
    right: 0;

    &-title {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    &-cards {
        margin: 3%;
        display: flex;
        align-items: center;
    }
}

.side-bar-left {
    background-color: #eee;
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
}
