
<div class="mod">
  <div class="modal fb-modal-submit">
    <div class="fb-content">
      <div class="fb-header">
        <h5>Are you sure you want to share this form?</h5>
      </div>
      <div class="modal-body fb-modal-share-body ">
        <div class="fb-content">
          <p>If you share this form you won`t be able to edit it later.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
          (click)="closeModal()">No</button>
        <button type="button" class="btn btn-primary" (click)="shareForm()">Yes</button>
      </div>
    </div>
  </div>
</div>
