<div class="mod">
  <div class="modal fb-modal-share">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title ">Session expired</h5>
      </div>
      <div class="modal-body fb-modal-share-body ">
        <div class="fb-content">
          <p>Please Login again</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
          (click)="bsModalRef.hide()">Ok</button>
      </div>
    </div>
  </div>
</div>