<div class="side-bar-left col-xs-3">
    <!-- <p>Details</p> -->
</div>


<div class="side-bar-right col-md-3 col-xs-3">
    <div class="side-bar-right-title text-center">
        <h2>Form Elements </h2>
        <hr>
    </div>
    <!-- Begin Cards -->
    <div class="side-bar-right-cards">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 mb-1">
                <div class="card text-white bg-dark text-center">
                    <div class="card-header">Text</div>
                    <div class="card-body">
                        <p class="card-title "><i class="fas fa-font"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 mb-1">
                <div class="card text-white bg-dark text-center">
                    <div class="card-header">Single Choice</div>
                    <div class="card-body">
                        <p class="card-title "><i class="far fa-dot-circle"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 mb-1">
                <div class="card text-white bg-dark text-center">
                    <div class="card-header">Multiple Choice</div>
                    <div class="card-body">
                        <p class="card-title "><i class="far fa-check-square"></i></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Begin Buttons -->
    <div class="text-center">
        <button type="button" class="btn btn-primary ml-1 mb-1">Share</button>
    </div>
    <div class="text-center button-margin">
        <button type="button" class="btn btn-primary ml-1 mb-1"> Save</button>
    </div>
    <!-- End Buttons -->
</div>