<app-navbar></app-navbar>
<div class="row">

    <div class="column col-xs-3" id="sidebar-left">
        <!-- <p>Details</p> -->
    </div>

    <div class="column col-xs-3" id="sidebar-right">
        <nav>
            <div class="form-elements text-center">
                <!-- <a> -->
                <h2>Form Elements </h2>
                <!-- </a> -->
                <hr>
            </div>
            <!-- Begin Cards -->
            <div class="row cards-dimension">
                <div class="col-md-6 mb-1 cards-margin ">
                    <div class="card text-white bg-dark text-center">
                        <div class="card-header"><i class="fas fa-font"></i></div>
                        <div class="card-body">
                            <p class="card-title ">Text</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-1 cards-margin ">
                    <div class="card text-white bg-dark text-center">
                        <div class="card-header">Single Choice</div>
                        <div class="card-body">
                            <p class="card-title "><i class="far fa-dot-circle"></i></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-1 cards-margin ">
                    <div class="card text-white bg-dark text-center">
                        <div class="card-header"><i class="far fa-check-square"></i></div>
                        <div class="card-body">
                            <p class="card-title ">Single Choice</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Cards -->


            <!-- Begin Buttons -->
            <div class="text-center button-margin">
                <button type="button" class="btn btn-primary ml-1">Share</button>
            </div>
            <div class="text-center button-margin">
                <button type="button" class="btn btn-primary ml-1"> Save</button>
            </div>
            <!-- End Buttons -->
        </nav>

    </div>
</div>
