

$blue-dark: #346089;
$blue: #2191FB;
$purple:  #706A96;
$red:     #C12A2F;
$yellow:  #E5D352;
$green:   #53DD6C;
$gray-light: #F0F3F6;
$gray-dark:         #383D3B;

$primary:       $blue-dark;
$secondary:     $purple;
$success:       $green;
$info:          $blue;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-light;
$dark:          $gray-dark;


// // Body

// $body-color:    $gray-700;

// // Fonts

// $headings-color:         $cyan;

// // Dropdowns

// $dropdown-link-color:            $body-color;
// $dropdown-link-hover-color:      $white;
// $dropdown-link-hover-bg:         $primary;

// // Navbar

// $navbar-dark-color:                 rgba($white,.8);
// $navbar-dark-hover-color:           $white;
