$primary:   #7460ee;
$secondary: #6c757d;
$white:     white;
// $success:       $green;
// $info:          $blue;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-800;

$theme-colors: (
  (
'primary':    #7460ee,
'secondary':  #6c757d,
'white':      #fff
  )
);
