<<<<<<< HEAD
// $label-margin-bottom: 5px;
// $input-color: $text-color;
// $input-border-color: $border-color;
// $input-border-width: 1px;
// $input-placeholder-color: darken($border-color, $color-threshold);
// $input-disabled-bg: $fill-color;
// $custom-control-indicator-checked-bg: $secondary-color;
// $custom-control-indicator-disabled-bg: lighten($brand-color, $color-threshold);
// $custom-control-indicator-checked-disabled-bg:  lighten($brand-color, $color-threshold);


=======
$input-focus-box-shadow: 0;
$input-focus-border-color: $primary;
$input-border-radius: 0;
$input-border-width: 1px;
$input-font-weight: 400;
$input-focus-width: 0;
>>>>>>> cad46b388099daec9ab35eb0bfc0c8626ea9b866
