$input-focus-box-shadow: 0;
$input-focus-border-color: $dark;
$input-border-radius: 3px;
$input-border-width: 1px;
$input-font-weight: 400;
$input-focus-width: 0;
$border-color: $primary;
$input-border-color: $gray-500;
