// $shadow: 1px 2px 2px $border-color;
$prefix: 'fb';
$shadow:  0 2px 5px 0 rgba(0,0,0,.16);
$gutter-top: 45px;
$transition-speed: 0.3s;
$transition-style: ease-in-out;
$radius: 5px;
// $brand-gradient-linear: linear-gradient(270deg, $brand-color 0%, $primary-color 100%);
$default-gradient-linear: linear-gradient(90deg, rgba(245, 244, 244, 1) 30%, rgba(255, 255, 255, 0) 100%);
$default-alt-gradient-linear: linear-gradient(180deg, rgba(245, 244, 244, 1) 30%, rgba(255, 255, 255, 0) 100%);
